$bg-color-light: #FFF8E7;
$text-color-light: #1C1C1E;

$bg-color-dark: #1C1C1E;
$text-color-dark: white;

$main-color: #FF5733;
$size-name: 68px;

$font-primary: 'Marko One', sans-serif;
$font-secondary: 'Nunito', sans-serif;