$bg-color-light: #FFF8E7;
$text-color-light: #1C1C1E;

$bg-color-dark: #1C1C1E;
$text-color-dark: #FFF8E7;

$orange: #FF5733;
$black-color: black;
$size-name: 68px;

$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$font-primary: 'Marko One', sans-serif;
$font-secondary: 'Nunito', sans-serif;