$bg-color-light: #FFF8E7;
$text-color-light: #1C1C1E;

$bg-color-dark: #1C1C1E;
$text-color-dark: #FFF8E7;

$bg-color-dark-dark: #0f0f0f;
$bg-color-dark-light: rgba(201, 176, 123, 0.664);

$bg-color-medium-dark: #151516;
$bg-color-medium-light: rgba(238, 217, 171, 0.664);

$bg-color-medium-light-dark: #2e2e35;
$bg-color-medium-light-light: rgba(199, 186, 158, 0.664);

$bg-color-sidebar-dark: #49474b;
$bg-color-sidebar-light: #b4a895;

$bg-sent-message-dark: #525252;
$bg-color-full-light: #ada88a;

$orange: #FF5733;
$black-color: black;
$dark-grey: #888;
$size-name: 68px;

$breakpoint-medium: 768px;
$breakpoint-large: 1280px;

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Nunito', sans-serif;  