@use "./variables" as *;
@use "./mixins" as *;
@use "sass:color";

body.dark-mode {
    @include theme($bg-color-dark, $text-color-dark);
}

body.light-mode {
    @include theme($bg-color-light, $text-color-light);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: relative;
    font-family: $font-primary;
    color: $main-color;
    font-size: $size-name;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.auth-buttons {
    position: absolute;
    right: 0;
    top: 7%;
    transform: translateY(-50%);
    align-items: center;
    margin-left: auto;
    width: auto;

    button {
        border-radius: 40px;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: bold;
        font-family: $font-secondary;
        background-color: $main-color;
    }
}

nav {
    box-sizing: border-box;
    width: 100%;
    z-index: 999;
    position: fixed;
    bottom: 0;
    padding: 10px;

    &.dark-mode {
        @include theme($bg-color-dark, $text-color-dark);
    }

    &.light-mode {
        @include theme($bg-color-light, $text-color-light);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        justify-content: center;
        align-items: center;
        display: inline-block;
        box-sizing: border-box;
        width: 25%;
        text-align: center;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 40px;
        padding: 5% 2%;
    }

    img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
}

article {
    text-align: left;
    border-radius: 10px;
    margin: 1%;
    padding: 2.5%;

    &.dark-mode {
        @include theme($bg-color-dark, $text-color-dark);
    }

    &.light-mode {
        @include theme($bg-color-light, $text-color-light);
    }

    header {
        display: flex;
        align-items: center;

        .profilePicture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
        }

        p {
            &.full-name {
                color: $main-color;
                margin: 0;
                font-weight: bold;
                display: flex;
                align-items: center;

                a {
                    color: $main-color;
                    text-decoration: none
                }
            }
        }
    }
}



.heart {
    fill: white;
    stroke: black;
    stroke-width: 2;
    cursor: pointer;
    transition: transform 0.5s, fill 0.5s, stroke-width 0.5s;
    width: 35px;
    height: 35px;

    &.red {
        fill: red;
        stroke-width: 0;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    &.pulse {
        animation: pulse 0.5s ease;
    }

    a {
        text-decoration: none;
    }
}

form {
    margin: 2em auto;
    padding: 1.5em;
    max-width: 400px;
    border-radius: 10px;

    &.dark-mode {
        @include theme($bg-color-dark, $text-color-dark);
    }

    &.light-mode {
        @include theme($bg-color-light, $text-color-light);
    }

    label {
        font-size: 1em;
        margin: 0.5em 0;
        font-family: $font-primary;
        display: block;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="submit"], input[type="button"] {
        width: 100%;
        padding: 0.8em;
        margin: 0.5em 0;
        border-radius: 5px;
        border: 1px solid $main-color;
        font-size: 1em;
        box-sizing: border-box;
    }

    input[type="submit"], input[type="button"] {
        background-color: $main-color;
        color: $black-color;
        font-weight: bold;
        border: none;

        &:hover {
            background-color: color.scale($main-color, $lightness: -10%);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    .InLoginButton {
        background-color: $main-color;
        color: $black-color;
        font: bold 20px $font-secondary;
        border-radius: 5px;
        width: 30%;
        padding: 6px 6px;
    }
}

textarea {
    border: 2px solid $main-color;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    height: 200px;
    padding: 15px 0;
    line-height: 1.5;
    margin: 0;
}

.add-img-btn, label[for="visibility"], #visibility {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}
  
select#visibility {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 30%;
    background-color: white;
    color: $black-color;
    font-family: $font-secondary;
    outline: none;
}

.cancel-btn, .publish-btn {
    background-color: $main-color;
    color: $black-color;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    padding: 10px 20px;
    width: 30%;
}

.add-img-btn {
    border-radius: 40px;
    padding: 10px 20px;
    width: 20%;
    font: bold 1em $font-secondary;
    background-color: $main-color;
}

.cancel-btn, .publish-btn, .add-img-btn {
    @include button-interaction($main-color);
}

.search-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-right: 10px;
        font-size: 16px;
        border-radius: 4px;
        outline: none;

        &:focus {
            border-color: $main-color;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-color-light;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: $main-color;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: $bg-color-dark;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.NotFound {
    color: $main-color;
    font-weight: bolder;
    text-align: center;

    h3 {
        font-size: 50px;
    }

    h2 {
        font-size: 70px;
    }
}